<style>
  :host {
    /* -webkit-tap-highlight-color: #0000; */

    --md-overlay-opacity: 0;
    --md-overlay-opacity-current: var(--md-overlay-opacity);
    
    /* --md-ripple-transform-duration: 225ms;
    --md-ripple-fadein-duration: 75ms;
    --md-ripple-fadeout-duration: 150ms;
    --md-ripple-spread: ripple-transform ease var(--md-ripple-transform-duration) forwards, ripple-fadein ease var(--md-ripple-fadein-duration) forwards;
    --md-ripple-fade: ripple-fadeout ease var(--md-ripple-fadeout-duration) forwards; */
    --md-ripple-spread: md-ripple-transform ease 225ms forwards, md-ripple-fadein ease 75ms forwards;
    --md-ripple-fade: md-ripple-fadeout ease 150ms forwards;

    /* --md-overlay-transition: opacity 15ms linear;
    --md-overlay-transition-current: var(--md-overlay-transition); */
  }
  :host(:hover) {
    --md-overlay-opacity: var(--md-overlay-hover-opacity);
  }
  :host(:focus-within) {
    --md-overlay-opacity:  var(--md-overlay-focus-opacity);
  }
  :host([disabled]) md-overlay {
    display: none;
  }

  @keyframes md-ripple-transform {
    from {
      transform: translate(var(--md-ripple-start-x), var(--md-ripple-start-y)) scale(0.5);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  }
  @keyframes md-ripple-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: var(--md-overlay-pressed-opacity);
    }
  }
  @keyframes md-ripple-fadeout {
    from {
      opacity: var(--md-overlay-pressed-opacity);
    }
    to {
      opacity: calc((var(--md-overlay-opacity) - var(--md-overlay-opacity-current)) / (1 - var(--md-overlay-opacity-current)));
    }
  }
</style>

<md-ripple-overlay></md-ripple-overlay>