<style>
  :host(:hover) {
    /* --overlay-opacity: var(--hover-overlay-opacity);
    --end-opacity: var(--hover-overlay-opacity); */
    --state-overlay-opacity: var(--hover-overlay-opacity);
  }
  :host(:focus-within) {
    /* --overlay-opacity: var(--focus-overlay-opacity);
    --end-opacity: var(--focus-overlay-opacity); */
    --state-overlay-opacity:  var(--focus-overlay-opacity);
  }
  /* :host(:active) {
    --overlay-opacity: 0;
  } */

  @keyframes ripple-transform {
    from {
      transform: translate(var(--ripple-start-x), var(--ripple-start-y)) scale(0.5);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  }
  @keyframes ripple-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: var(--ripple-end-opacity);
    }
  }
  @keyframes ripple-fadeout {
    from {
      opacity: var(--ripple-end-opacity);
    }
    to {
      opacity: calc((var(--state-overlay-opacity) - var(--overlay-opacity)) / (1 - var(--overlay-opacity)));
      /* opacity: var(--focus-overlay-opacity); */
    }
  }
  :host {
    --state-overlay-opacity: 0;
    --overlay-opacity: var(--state-overlay-opacity);
    /* --overlay-opacity: 0;
    --end-opacity: 0; */
    --ripple-fadein-animation: ripple-transform ease 225ms forwards, ripple-fadein ease 75ms forwards;
    --ripple-fadeout-animation: ripple-fadeout ease 150ms forwards;
    /* --ripple-end-opacity: calc((var(--pressed-overlay-opacity) - var(--focus-overlay-opacity)) / (1 - var(--focus-overlay-opacity))); */
    --ripple-end-opacity: var(--pressed-overlay-opacity);
    /* --ripple-fadein-animation: ripple-transform 225ms ease forwards, ripple-fadein 75ms ease forwards, ripple-fadeout 150ms ease 225ms forwards; */

    --visibility: visible;
  }
</style>

<md-overlay></md-overlay>