<style>
  :host {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    /* text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start; */

    font-size: 14px;
    letter-spacing: 1.25px;
    font-weight: 500;
    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    text-transform: uppercase;
  }
  :host(:not([disabled])) {
    cursor: pointer;
  }
  :host([disabled]) {
    color: var(--md-disabled-text-color);
    pointer-events: none;
  }

  :host(:not([raised]):not([outlined])) {
    padding: 0px 8px;
  }
  :host([outlined]) {
    padding: 0px 15px;
    border-width: 1px;
    border-style: solid;
  }
  :host([outlined]:not([disabled])) {
    border-color: var(--md-current-color);
  }
  :host([outlined][disabled]) {
    border-color: var(--md-disabled-text-color);
  }
  :host(:not([raised]):not([disabled])) {
    color: var(--md-current-color);
    --md-overlay-color: var(--md-current-color);
    --md-overlay-hover-opacity: 0.04;
    --md-overlay-focus-opacity: 0.12;
    --md-overlay-pressed-opacity: 0.12;
  }
  
  :host([raised]) {
    padding: 0px 16px;
  }
  :host([raised]:not([disabled])) {
    background-color: var(--md-current-color);
    color: var(--md-on-current-color);
    --md-overlay-color: var(--md-on-current-color);
    --md-overlay-hover-opacity: 0.08;
    --md-overlay-focus-opacity: 0.24;
    --md-overlay-pressed-opacity: 0.24;
    --md-elevation: var(--md-dp-2);
    box-shadow: var(--md-elevation);
    transition: var(--md-shadow-transition);
  }
  :host([raised]:hover) {
    --md-elevation: var(--md-dp-4);
  }
  :host([raised]:focus-within) {
    --md-elevation: var(--md-dp-4);
  }
  :host([raised]:active) {
    --md-elevation: var(--md-dp-8);
  }
  :host([raised][disabled]) {
    background-color: var(--md-disabled-color);
  }

  div {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
  }
  slot {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  button {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: inherit;
  }
</style>

<div>
  <slot></slot>
</div>
<!-- <button id="input"></button> -->