<style>
  :host {
    --md-overlay-opacity-1: 0;
    --md-overlay-opacity-1-current: var(--md-overlay-opacity-1);
    
    --md-ripple-duration-transform: 225ms;
    --md-ripple-duration-fadein: 75ms;
    --md-ripple-duration-fadeout: 150ms;
    --md-ripple-spread: ripple-transform ease var(--md-ripple-duration-transform) forwards, ripple-fadein ease var(--md-ripple-duration-fadein) forwards;
    --md-ripple-fade: ripple-fadeout ease var(--md-ripple-duration-fadeout) forwards;
  }
  :host(:hover) {
    --md-overlay-opacity-1: var(--md-overlay-opacity-hover);
  }
  :host(:focus-within) {
    --md-overlay-opacity-1:  var(--md-overlay-opacity-focused);
  }
  :host(:not([disabled])) {
  }
  :host([disabled]) md-overlay {
    display: none;
  }

  @keyframes ripple-transform {
    from {
      transform: translate(var(--md-ripple-start-x), var(--md-ripple-start-y)) scale(0.5);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  }
  @keyframes ripple-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: var(--md-overlay-opacity-pressed);
    }
  }
  @keyframes ripple-fadeout {
    from {
      opacity: var(--md-overlay-opacity-pressed);
    }
    to {
      opacity: calc((var(--md-overlay-opacity-1) - var(--md-overlay-opacity-1-current)) / (1 - var(--md-overlay-opacity-1-current)));
    }
  }
</style>

<md-overlay></md-overlay>