<style>
  :host {
    --md-overlay-opacity-1: 0;
    --md-overlay-opacity-1-current: var(--md-overlay-opacity-1);
    
    --md-ripple-transofrm-duration: 225ms;
    --md-ripple-fadein-duration: 75ms;
    --md-ripple-fadeout-duration: 150ms;
    --md-ripple-stage1: ripple-transform ease var(--md-ripple-transofrm-duration) forwards, ripple-fadein ease var(--md-ripple-fadein-duration) forwards;
    --md-ripple-stage2: ripple-fadeout ease var(--md-ripple-fadeout-duration) forwards;
  }
  :host(:hover:not([disabled])) {
    --md-overlay-opacity-1: var(--md-overlay-opacity-hover);
  }
  :host(:focus-within:not([disabled])) {
    --md-overlay-opacity-1:  var(--md-overlay-opacity-focused);
  }

  @keyframes ripple-transform {
    from {
      transform: translate(var(--md-ripple-start-x), var(--md-ripple-start-y)) scale(0.5);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  }
  @keyframes ripple-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: var(--md-overlay-opacity-pressed);
    }
  }
  @keyframes ripple-fadeout {
    from {
      opacity: var(--md-overlay-opacity-pressed);
    }
    to {
      opacity: calc((var(--md-overlay-opacity-1) - var(--md-overlay-opacity-1-current)) / (1 - var(--md-overlay-opacity-1-current)));
    }
  }
</style>

<md-overlay></md-overlay>