<style>
  :host {
    
  }
  md-textfield {
    cursor: pointer;
  }
  .menu {
    position: absolute;
    left: 0px;
    top: 56px;
    width: 100%;
    display: none;
    /* transform: translateY(50%); */
  }
  .list-item {
    font-size: 16px;
    padding: 10px;
  }
  .wrapper {
    position: relative;
    display: inline-block;
  }

  .value {
    background-color: transparent;
    outline: none;
    border: none;

    box-sizing: border-box;
    padding: 20px 16px 6px 16px;
    width: 100%;
    height: 100%;

    min-width: 214px;
    text-align: left;
    cursor: pointer;
    
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-family: inherit;
  }
  :host([disabled]) .value {
    color: var(--md-disabled-text-color);
    /* pointer-events: none; */
  }
</style>

<div class="wrapper">
  <div class="container">
    <div class="value"></div>
    <div class="menu">
      <div value="opt1" tabindex="-1" class="list-item"><span>Option 1</span></div>
      <div value="opt2" tabindex="-1" class="list-item">Option 2</div>
      <div value="opt3" tabindex="-1" class="list-item">Option 3</div>
    </div>
    <div class="underline"></div>
    <label></label>
  </div>
  <div class="helper-text"></div>
</div>