<style>
  .dropdown {
    position: absolute;
    left: 0px;
    top: 56px;
    width: 100%;
    display: none;
    background-color: white;
    z-index: 1000;
    box-shadow: var(--md-dp-8);
    padding: 8px 0px;
    border-radius: 4px;
  }

  .value {
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    padding: 20px 16px 6px 16px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-family: inherit;

    min-width: 214px;
    text-align: left;
    cursor: pointer;
  }
  :host([disabled]) .value {
    color: var(--md-disabled-text-color);
  }
</style>

<div class="container">

  <div class="value" tabindex="0"></div>
  
  <div class="dropdown">
    <slot></slot>
  </div>

  <div class="underline"></div>
  <label></label>
</div>
<div class="helper-text"></div>