<style>
  :host {
    /* -webkit-tap-highlight-color: #0000; */

    /* --m-overlay-opacity: 0; */
    --m-overlay-opacity: var(--m-overlay-initial-opacity, 0);
    --m-overlay-current-opacity: var(--m-overlay-opacity);
    
    /* --m-ripple-transform-duration: 225ms;
    --m-ripple-fadein-duration: 75ms;
    --m-ripple-fadeout-duration: 150ms;
    --m-ripple-spread: ripple-transform ease var(--m-ripple-transform-duration) forwards, ripple-fadein ease var(--m-ripple-fadein-duration) forwards;
    --m-ripple-fade: ripple-fadeout ease var(--m-ripple-fadeout-duration) forwards; */
    --m-ripple-spread: m-ripple-transform ease 225ms forwards, m-ripple-fadein ease 75ms forwards;
    --m-ripple-fade: m-ripple-fadeout ease 150ms forwards;

    /* --m-overlay-transition: opacity 15ms linear;
    --m-overlay-transition-current: var(--m-overlay-transition); */
    cursor: pointer;
  }
  :host(:hover) {
    --m-overlay-opacity: var(--m-overlay-hover-opacity);
  }
  :host(:focus-within) {
    --m-overlay-opacity:  var(--m-overlay-focus-opacity);
  }
  :host([disabled]) m-overlay {
    display: none;
  }

  @keyframes m-ripple-transform {
    from {
      transform: translate(var(--m-ripple-start-x), var(--m-ripple-start-y)) scale(0.5);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  }
  @keyframes m-ripple-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: var(--m-overlay-pressed-opacity);
    }
  }
  @keyframes m-ripple-fadeout {
    from {
      opacity: var(--m-overlay-pressed-opacity);
    }
    to {
      opacity: calc((var(--m-overlay-opacity) - var(--m-overlay-current-opacity)) / (1 - var(--m-overlay-current-opacity)));
    }
  }
</style>

<m-ripple-overlay></m-ripple-overlay>