<style>
  :host {
    position: relative;
    vertical-align: top;
    outline: none;
    display: inline-block;

    --md-overlay-color: #000000;
    --md-overlay-hover-opacity: 0.04;
    --md-overlay-focus-opacity: 0.12;
    --md-overlay-pressed-opacity: 0.12;
  }
  :host(:not([disabled])) {
    cursor: pointer;
  }
  :host([checked]) {
    --md-overlay-color: var(--md-current-color);
  }
  /* input {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: inherit;
  } */
</style>