<style>
  :host {
    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    font-size: 14px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;

    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    color: var(--md-text-color);
  }

  /* text or outlined variant */
  :host(:not([raised])) {
    --md-text-color: var(--md-current-color);
    --md-overlay-color: var(--md-current-color);
    --md-overlay-hover-opacity: 0.04;
    --md-overlay-focus-opacity: 0.12;
    --md-overlay-pressed-opacity: 0.12;
  }
  
  /* text variant */
  :host(:not([raised]):not([outlined])) {
    padding: 0px 8px;
    --md-icon-border-side-margin: 0px;
  }

  /* outlined variant */
  :host([outlined]) {
    padding: 0px 15px;
    border: 1px solid var(--md-current-color);
    --md-icon-border-side-margin: -4px;
  }
  /* @-moz-document url-prefix() {
    :host([outlined]) {
      border-width: 1.5px;
    }
  } */
  :host([outlined][disabled]) {
    border-color: var(--md-disabled-text-color);
  }
  
  /* raised variant */
  :host([raised]) {
    padding: 0px 16px;
    box-shadow: var(--md-elevation);
    transition: var(--md-shadow-transition);
    background-color: var(--md-current-color);
    --md-text-color: var(--md-on-current-color);
    --md-overlay-color: var(--md-on-current-color);
    --md-overlay-hover-opacity: 0.08;
    --md-overlay-focus-opacity: 0.24;
    --md-overlay-pressed-opacity: 0.24;
    --md-elevation: var(--md-dp-2);
    --md-icon-border-side-margin: -4px;
  }
  :host([raised]:hover) {
    --md-elevation: var(--md-dp-4);
  }
  :host([raised]:focus-within) {
    --md-elevation: var(--md-dp-4);
  }
  :host([raised]:active) {
    --md-elevation: var(--md-dp-8);
  }
  :host([raised][disabled]) {
    background-color: var(--md-disabled-color);
    --md-elevation: none;
  }

  /* disabled */
  :host([disabled]) {
    --md-text-color: var(--md-disabled-text-color);
  }

  /* label */
  label {
    pointer-events: none;
  }
  
  /* icon */
  md-icon {
    width: 18px;
    height: 18px;
    fill: var(--md-text-color);
  }
  .leading-icon {
    margin-right: 8px;
    margin-left: var(--md-icon-border-side-margin);
  }
  .trailing-icon {
    margin-left: 8px;
    margin-right: var(--md-icon-border-side-margin);
  }
</style>

<md-icon class="leading-icon" style="display: none;"></md-icon>
<label></label>
<md-icon class="trailing-icon" style="display: none;"></md-icon>