<style>
  :host {
    color: var(--md-helper-text-color);
    font-size: 13px;
    font-weight: 500;

    border-radius: 2px;
    user-select: none;
  }

  #top-bar {
    padding: 16px 8px 12px 24px;
    fill: var(--md-helper-text-color);
    display: flex;
    align-items: center;
  }

  #month {
    font-size: 14px;
    margin-right: 4px;
  }

  md-icon-button {
    --size: 24px;
  }
  #dropdown-btn {
    padding: 0px;
  }
  #prev-month-btn {
    margin-left: auto;
    margin-right: 24px;
  }
  #prev-month-btn, #next-month-btn {
    --icon-size: 18px;
    padding: 3px;
  }
  
  #days-of-week {
    padding: 4px 0px 8px 0px;
    /* padding: 6px 0px 6px 0px; */
    display: inline-flex;
    align-items: center;
    color: var(--md-disabled-text-color);
  }
  .day {
    width: 32px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    padding: 0px 16px 8px 16px;
  }
  /* .date {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
</style>

<div id="top-bar">
  <label id="month"></label>
  <md-icon-button id="dropdown-btn">arrow_drop_down</md-icon-button>
  <md-icon-button id="prev-month-btn">chevron_left</md-icon-button>
  <md-icon-button id="next-month-btn">chevron_right</md-icon-button>
</div>
<div id="days-of-week"></div>