<style>
  :host {
    --size: 48px;
    --icon-size: 24px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    width: var(--size);
    height: var(--size);;
    padding: 12px;
    border-radius: 50px;

    --m-current-color: #000000;

    --m-overlay-color: var(--m-current-color);
    --m-overlay-hover-opacity: 0.04;
    --m-overlay-focus-opacity: 0.12;
    --m-overlay-pressed-opacity: 0.12;

    /* fill: var(--m-current-color); */
    fill: inherit;
  }
  :host(:not([disabled])) {
    cursor: pointer;
  }
  :host([disabled]) {
    /* color: var(--m-disabled-text-color); */
    pointer-events: none;

    fill: var(--m-disabled-text-color);
  }
  
  m-icon {
    --size: var(--icon-size);
    /* fill: var(--m-current-color); */
  }
  :host([disabled]) m-icon {
    /* fill: var(--m-disabled-text-color); */
  }
  slot {
    display: none;
  }
</style>

<slot></slot>

<m-icon></m-icon>