<style>
  .input {
    min-width: 214px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding-right: 52px;
  }
  .dropdown {
    left: 0px;
    width: 100%;

    padding: 8px 0px;
    border-radius: 4px;
    user-select: none;
  }
  md-icon {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 16px;
    transition: transform 150ms ease;
  }
  :host([open]) md-icon {
    transform: rotate(180deg) translateY(-5px);
  }
</style>

<div class="input value" tabindex="0"></div>
<md-icon>arrow_drop_down</md-icon>

<md-dropdown class="dropdown">
  <slot></slot>
</md-dropdown>
