<style>
  :host {
    position: relative;
    vertical-align: top;
    outline: none;
    display: inline-block;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    transition: background-color 15ms linear;
    background-color: #f5f5f5;
    height: 56px;

    --md-current-color: var(--md-primary-color);

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8e8e8e;
    box-sizing: border-box;
  }
  :host([disabled]) {
    color: rgba(0, 0, 0, 0.37);
    background-color: #fafafa;
    border-bottom-color: #ebebeb;
    pointer-events: none;
  }
  :host(:hover) {
    background-color: #ececec;

    border-bottom-color: #1f1f1f;
  }
  :host(:focus-within) {
    background-color: #dcdcdc;
  }

  input {
    background-color: transparent;
    outline: none;
    border: none;

    padding: 20px 16px 6px 16px;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-family: inherit;
  }
  :host([disabled]) input {
    color: rgba(0, 0, 0, 0.37);
    pointer-events: none;
  }

  div {
    background-color: var(--md-current-color);
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    position: absolute;
    bottom: -1px;
    left: 0;
    opacity: 0;
    transition: transform 0ms 180ms ease, opacity 180ms ease;
  }
  :host(:focus-within) div {
    transform: scaleX(1);
    transition: transform 180ms ease, opacity 180ms ease;
    opacity: 1;
  }
  
  label {
    pointer-events: none;
    user-select: none;
    position: absolute;
    left: 16px;
    top: 50%;
    /* right: auto; */
    color: rgba(0, 0, 0, 0.6);
    --md-label-lowered: translateY(-50%);
    --md-label-elevated: translateY(-100%) scale(0.75);
    --md-label-transform: var(--md-label-lowered);
    transform: var(--md-label-transform);
    transform-origin: left top;
    transition: transform 150ms ease, color 150ms ease;
    
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-family: inherit;
    /* line-height: 18.4px; */
  }
  :host(:focus-within) label {
    transform: var(--md-label-elevated);
    color: var(--md-current-color);
  }
  :host([disabled]) label {
    color: rgba(0, 0, 0, 0.37);
  }
</style>

<input type="text" spellcheck="false">
<div></div>
<label id="label">Name</label>